@charset "UTF-8";

/* Tags gerais */
* { 
    margin: 0;
    padding: 0;
}

body {
    margin: 0px;
    display: grid;
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer"
    ; 

    grid-template-columns: 1fr 710px;
    background-color: #F3F3F3;
}

ul, li {
    text-decoration: none;
    display: inline-block;
    padding-right: 7px;
}

a {
    text-decoration: none;
}

div {
    margin: auto;
    border-radius: 10px;
    margin: 20px;
    border: 1px black solid;
}

button {
    border-radius: 9999px;
    padding: 6px 16px;
}

/* Header */
header {
    grid-area: header;
    max-height: 55px;
    border: 0.5px solid black;
}

div#navbarContainer {
    margin: 0px 420px;
    max-height: 55px;
    display: flex;
    align-items: center; 
}

input, div#inputSearch {
    width: 250px;
    display: flex;
}

nav#navbar { 
    margin: auto;
    display: grid;
}

/* Main */
main {
    max-width: 1000px;
    margin-left: 400px;
}

.smallImg{
    width: 32px;
}

div#wallpaperDiv {
    margin: 0px;
    padding: 0px;
}

img#wallpaperImg {
    width: 100%;
    min-height: 190px;
    max-height: 190px;
    border-radius: 10px 10px 0px 0px;
}

section#cardProfile {
    background-color: #FFFFFF;
}

img#profileImg {
    width: 140px;
    margin-left: 20px;
    position: absolute;
    top: 15%;
    border-radius: 50%;
    border: 5px white solid;
}

div#cardProfileGrid {
    margin: 20px 10px;
    display: grid;
    grid-template-columns: 70% auto;
}

div#cardProfileInfos{
    max-height: 100px;
    margin: 20px 5px 20px 10px
}

div#cardProfileWork {
    max-height: 100px;
    margin: 20px 5px 20px 0px
}

div#cardProfileButtons {
    margin: 0px  5px 20px 10px;
    min-width: 450px;
}

.cardProfileWorkGrid {
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    display: grid;
    grid-template-columns: 20% auto;
}

div.bodyGrid {
    display: grid;
    grid-area: auto;
}

.verticalAlign {
    font-size: 14px;
    vertical-align: middle;
}

/* Aside */
aside {
    margin-right: 400px;
    grid-area: aside;
}

/* Footer */
footer {
    margin: 0;
    padding: 0;
    grid-area: footer;
    width: auto;
}

div#footerContainer {
    margin: 0;
    padding: 0;
    border-radius: 0px;
}