@charset "UTF-8";
:root {
    --blue: #0A66C2;
    --white: #FFFFFF;
    --background: #f3f2ef;
    --golden: #5D3B09;
    --grey: #00000099;
    --hoverGrey: #000000;
    --borderColor: #e2e2e2;
}

/* Tags gerais */
* { 
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont,  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0px;
    display: grid;
    grid-template-areas: 
        "header header"
        "main aside"
        "footer footer"
    ; 

    grid-template-columns: 1fr 710px;
    background-color: var(--background);
}

main > section > div > div > span,
main > section > div > div > div > span,
main > section > div > div > div > ul,
main > section > div > div > ul{
    font-size: 14px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

h3 {
    font-size: 16px;
    font-weight: 500;
}

ul, li {
    text-decoration: none;
    display: inline-block;
    padding-right: 7px;
    max-height: 43px;
}

a {
    text-decoration: none;
    color: var(--blue);
}

div {
    margin: auto;
    border-radius: 10px;
    margin: 20px;
}

img  {
    border-radius: 50%;
}

button {
    border-radius: 9999px;
    padding: 6px 16px;
    color: #00000099;
    border: 1.5px solid #00000099;
}

button:nth-child(1) {
    color: var(--white);
    background: var(--blue);
}

button:nth-child(2) {
    background: var(--white);
    color: var(--blue);
    border: 1.5px solid var(--blue);
}

.backgroundDivColor {
    background-color: var(--white);
    border: 1px var(--borderColor) solid;
}

/* Header */
header {
    grid-area: header;
    max-height: 55px;
    border: 0.5px solid black;
}

div#navbarContainer {
    margin: 0px 420px;
    max-height: 55px;
    display: flex;
    align-items: center; 
}

input, div#inputSearch {
    width: 250px;
    display: flex;
}

nav#navbar { 
    margin: auto;
    display: grid;
}

nav#navbar > ul > li > a {
    color: var(--grey);
}

nav#navbar > ul > li > a:hover {
    color: var(--hoverGrey);
}

.premiumButton > a{
    justify-content: center;
    text-decoration: underline;
    color: var(--golden)

    !important
}

.navbarListGrid {
    font-size: 12px;
    grid-template-columns: 40% auto;
    margin: 0px 7px 0px 0px;
    text-align: center;
    vertical-align: middle

    !important;
}

.navbarListGrid:nth-child(1){
    margin-left: 77px;
}

.text24px {
    font-size: 24px;
}

.text16px {
    font-size: 16px;
}

.text14px {
    font-size: 14px;
}

.textAllign {
    text-align: center;
}
/* Main */
main {
    max-width: 1000px;
    margin-left: 400px;
}

.smallImg{
    width: 32px;
}

div#wallpaperDiv {
    margin: 0px;
    padding: 0px;
    background-size: cover;
    min-height: 190px;
    max-height: 190px;
    background-image: url('../assets/wallpaper.jpg');
    border-radius: 10px 10px 0px 0px;
}

section#cardProfile {
    background-color: #FFFFFF;
}

img#profileImg {
    width: 140px;
    margin-left: 20px;
    position: absolute;
    top: 15%;
    border: 5px white solid;
}

div#cardProfileGrid {
    margin: 20px 10px;
    display: grid;
    grid-template-columns: 70% auto;
}

div#cardProfileInfos{
    max-height: 100px;
    margin: 20px 5px 20px 10px
}

div#cardProfileWork {
    max-height: 100px;
    margin: 20px 5px 20px 0px
}

div#cardProfileButtons {
    margin: 0px  5px 20px 10px;
    min-width: 470px;
}

div#cardProfileButtons > button {
    font-weight: bold;
}


.cardProfileWorkGrid {
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    display: grid;
    grid-template-columns: 20% auto;
}

div.bodyGrid {
    display: grid;
    grid-area: auto;
}

.verticalAlign {
    font-size: 14px;
    vertical-align: middle;
}

.fakeHorizontalRow {
    border-top: 1px solid var(--borderColor);
    border-radius: 0;
}

div.textAllign {
    border-top: 1px solid var(--borderColor);
    border-radius: 0;
    padding-top: 8px;
    margin: 10px 0px;
}

div.textAllign > a {
    text-decoration: none;
    color: var(--grey);
}

/* Aside */
aside {
    margin-right: 400px;
    grid-area: aside;
}

/* Footer */
footer {
    margin: 0;
    padding: 0;
    grid-area: footer;
    width: auto;
}

div#footerContainer {
    margin: 0;
    padding: 0;
    border-radius: 0px;
}